/*Styling for my website*/

.mintBackground {
	background-image: URL('Images/Mint.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;   
	background-size: cover;

}

.yellowBackground {
	background-image: URL('Images/yellow.jpg');
	background-repeat: no-repeat;	
	background-size: cover;
	background-attachment: fixed;
}

.cloudsBackground {
	background-image: URL('Images/clouds.jpg');
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: cover;
}

.brownBackground {
	background-image: URL('Images/brown.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-size: cover;
}

.blueBackground {
	background-image: URL('Images/Blue.jpg');
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-size: cover;
}

.header {
	font-family:Times New Roman;
	text-align:Right;        
	font-size:20px;
	border-style: inset;
	border-color: White; 
}

h1 {
	font-size:50px;
	text-align:center;
	font-family:Times New Roman;
	color:white;
	font-style:Italic 
}

h2 {
	font-size:40px;
	text-align:center;
	font-family:Times New Roman;
	color:white;
	font-style:Italic 
}

h3 {
	font-size:30px;
	text-align:center;
	font-family:Times New Roman;
	color:white;
	font-style:Italic
}	

p, ul {
	font-family:Times New Roman;
	color:White;
	font-size:20px; 
}

li {
	font-family:Times New Roman;
	color:White;
	font-size:25px;
}

ol li {
	padding:15px;
} 

li p {
	padding:10px;
}

img , iframe {
	height: 325px;
	width: 325px;
	border-style:solid;
	border-color:White;
}

table, th , td {
	font-family: Times new roman;
	color:white;
	font-size:20px;
	padding:20px;
	text-align:center;
	border: 3px Inset White;
}

.float {
	float:right;
}

.center {
	text-align:center;
}

#topArrow{
	text-align:right;
	font-size:40px;
}

#BlackText{
	color:Black;
}
